/* Header global */
.app-header {
  background-color: #1c1c1c; /* Noir */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px; /* Taille du logo */
  height: auto;
  margin-right: 10px;
  /* La bordure rouge était uniquement pour tester */
  /* border: 1px solid red; */
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  color: #e74c3c; /* Rouge foncé */
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #e74c3c; /* Rouge lorsqu'on survole */
}

button {
  background-color: #e74c3c; /* Rouge */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c0392b; /* Rouge foncé */
}

nav a, button {
  margin-left: 10px;
}

nav {
  display: flex;
  align-items: center;
}
