<header class="app-header">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <span class="app-name">Isatisfy</span>
  </div>

  <nav>
    <a routerLink="/home" *ngIf="isLoggedIn">Accueil</a>
    <a routerLink="/videos" *ngIf="isLoggedIn">Liste des vidéos</a>
    <a routerLink="/videos/add" *ngIf="isLoggedIn">Ajouter une vidéo</a>

    <a routerLink="/login" *ngIf="!isLoggedIn">Se connecter</a>
    <a routerLink="/register" *ngIf="!isLoggedIn">S'inscrire</a>
    
    <button *ngIf="isLoggedIn" (click)="logout()">Se déconnecter</button>
  </nav>
</header>
